:root{
  --main-color:#009995;
  --second-color:#0063AC;
  --height:40px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input{
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.container{
  width: 90%;
  margin: auto;
  margin-top: 200px;
  background-color:white;
  border-radius: 10px;
  padding: 10px;
}
.header{
  text-align: center;
  color:white;
  background-color: var(--main-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
ul{
  padding: left 0 !important;
  list-style: none;
}
.course{
  height: 70px;
}
.addCourseForm,
.course,
.updateForm{
  width: 100%;
  height:var(--height);
  margin-bottom: 10px;
}
.addCourseForm .addtext,
.updateFormText{
  width: 63%;
  height:var(--height);
  background-color: #eee;
  cursor: text;
  font-size: 18px;
  color:black;
}
.addCourseForm .addCourse,
.updateFormButton{
  width: 35%;
  height:var(--height);
  margin-left: 2%;
  background-color: #124975;
}
.course{
  display: flex;
  align-items: center;
}
.course .skill{
  display: block;
  width: 64%;
}
.course button{
  width:16.5% ;
  height: var(--height);
  margin-left: 2%;
}

.course .editButton{
  background-color: var(--main-color);
  
}

.course .deleteButton{
  background-color: var(--second-color);
}
